@font-face {
  font-family: 'Geist';
  src: url('/src/assets/fonts/Geist-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/src/assets/fonts/Geist-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Geist';
  src: url('/src/assets/fonts/Geist-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MessinaSans';
  src: url('/src/assets/fonts/MessinaSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 100vw;
  min-height: 100vh;
}